<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <title>House paint</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['gantt'] });
        google.charts.setOnLoadCallback(drawChart);
        function daysToMilliseconds(days) {
            return days * 24 * 60 * 60 * 1000;
        }
        function addMinutes(dt, minutes) {
            return new Date(dt.getTime() + minutes*60000);
        }
        function toStartTime(jobStarted, planStep) {
            return addMinutes(jobStarted, planStep.time);
        }
        function toEndTime(jobStarted, planStep) {
            return addMinutes(jobStarted, planStep.time + planStep.duration);
        }
        function toPercentDone(jobStarted, planStep) {
            if (new Date().getTime() < toStartTime(jobStarted, planStep).getTime()) {
                // the task has not started yet
                return 0;
            }
            else if (new Date().getTime() > toEndTime(jobStarted, planStep).getTime()) {
                // the task already finished
                return 100;
            }
            else {
                return (new Date().getMinutes() - toStartTime(jobStarted, planStep).getMinutes()) 
                    / planStep.duration * 100;
            }
        }
        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Task ID')
            data.addColumn('string', 'Task Name');
            data.addColumn('date', 'Start date');
            data.addColumn('date', 'End date');
            data.addColumn('number', 'Duration');
            data.addColumn('number', 'Percent Complete');
            data.addColumn('string', 'Dependencies');

            var now = new Date();

            var planData = {
                "jobStarted": new Date(2019, 7, 12, 13, 0),
                "plan": {{solution.plan | dump('\t') | safe}}
            };
            // var planData = {
            //     "jobStarted": new Date(2019, 7, 12, 13, 0),
            //     "plan": [
            //         {
            //             "action": "mixing",
            //             "time": 0,
            //             "duration": 40,
            //             "dependencies": null,
            //         },
            //         {
            //             "action": "painting",
            //             "time": 40,
            //             "duration": 100,
            //             "dependencies": 'mixing',
            //         }
            //     ]
            // };

            var chartData = planData.plan
                .map(planStep => [
                    planStep.action, 
                    planStep.action,
                    toStartTime(planData.jobStarted, planStep), 
                    toEndTime(planData.jobStarted, planStep), 
                    planStep.duration, 
                    toPercentDone(planData.jobStarted, planStep), 
                    planStep.dependencies
                ]);

            data.addRows(chartData);

            var options = {
                height: 1000
            };

            var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
            chart.draw(data, options);
        }        
    </script>
    <style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        min-width: 20px;
    }
    td {
        text-align: center;
    }
    </style>
</head>

<body>
    <h3><u>Hello {{ inputs.username }}</u></h3>
    <p>How many rooms do you have, {{ inputs.username }}?</p>
    <form action="/solution">
        <p>
        <input type="text" name="rooms" value="{{ inputs.rooms }}"><br>
        </p>
        <p>How many layers of paint?</p>
        <p>
        <p><input type="text" name="layers" value="{{ inputs.layers}}"></p><br>

        <p>How long does it take to mix each load of paint per layer?</p>

        <p>Times (in minutes) for each layer separated by comma:</p>
        <p><input type="text" name="time_mix" value="{{ inputs.time_mix}}"></p><br>

        <p>How long does it take to paint each layer?</p>

        <p>Times (in minutes) for each layer separated by comma</p>
        <p><input type="text" name="time_paint" value="{{ inputs.time_paint}}"></p><br>

        <p>Do you have a self cleaning brush?
        <input type="checkbox" name="self_clean" {% if inputs.self_clean %}checked{% endif %}>
        </p>
        
        <p>How many mixers do you have?</p>
        <p><input type="text" name="mixers" value="{{ inputs.mixers}}"></p>

        <p>When will the job start / or when has it started?</p>
        <p><input type="datetime-local" name="datestart"></p>

        <p><input type="submit" value="submit"></p><br>
    </form>

    <table>
        <tr>
            <th></th>
            {% for layer in range(0, inputs.layers) %}
                <th>{{ layer+1 }}</th>
            {% endfor %}
        </tr>
        <tr>
            <td>Mixing time (min)</td>
            {% for layer in range(0, inputs.layers) %}
                <td>{{ inputs.time_mix[layer]}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Painting time (min)</td>
            {% for layer in range(0, inputs.layers) %}
                <td>{{ inputs.time_paint[layer]}}</td>
            {% endfor %}
        </tr>
    </table>

    <div id="chart_div"></div>
</body>

</html>