<!DOCTYPE html>
<html>

<head>
    <title>House paint</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['gantt'] });
        google.charts.setOnLoadCallback(drawChart);
        function daysToMilliseconds(days) {
            return days * 24 * 60 * 60 * 1000;
        }
        function addMinutes(dt, minutes) {
            return new Date(dt.getTime() + minutes*60000);
        }
        function toStartTime(jobStarted, planStep) {
            return addMinutes(jobStarted, planStep.time);
        }
        function toEndTime(jobStarted, planStep) {
            return addMinutes(jobStarted, planStep.time + planStep.duration);
        }
        function toPercentDone(jobStarted, planStep) {
            if (new Date().getTime() < toStartTime(jobStarted, planStep).getTime()) {
                // the task has not started yet
                return 0;
            }
            else if (new Date().getTime() > toEndTime(jobStarted, planStep).getTime()) {
                // the task already finished
                return 100;
            }
            else {
                return (new Date().getMinutes() - toStartTime(jobStarted, planStep).getMinutes()) 
                    / planStep.duration * 100;
            }
        }
        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Task ID')
            data.addColumn('string', 'Task Name');
            data.addColumn('date', 'Start date');
            data.addColumn('date', 'End date');
            data.addColumn('number', 'Duration');
            data.addColumn('number', 'Percent Complete');
            data.addColumn('string', 'Dependencies');

            var now = new Date();

            var planData = {
                "jobStarted": new Date(2019, 7, 12, 13, 0),
                "plan": [
                    {
                        "actionId": "mix",
                        "action": "mixing",
                        "time": 0,
                        "duration": 40,
                        "dependencies": null,
                    },
                    {
                        "actionId": "paint",
                        "action": "painting",
                        "time": 40,
                        "duration": 100,
                        "dependencies": 'mix',
                    }
                ]

            };

            var chartData = planData.plan
                .map(planStep => [
                    planStep.actionId, 
                    planStep.action,
                    toStartTime(planData.jobStarted, planStep), 
                    toEndTime(planData.jobStarted, planStep), 
                    planStep.duration, 
                    toPercentDone(planData.jobStarted, planStep), 
                    planStep.dependencies
                ]);

            data.addRows(chartData);

            var options = {
                height: 275
            };

            var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
            chart.draw(data, options);
        }        
    </script>
</head>

<body>
    <p>Hello {{ username }}</p>
    <p>How much rooms do you have {{ username }}?</p>
    <form action="/da">
        Rooms:<br>
        <input type="text" name="rooms" value="3"><br>

        <p>How many layers of paint?</p>
        Layers:
        <input type="text" name="layers" value="6"><br>

        <p>How long does the paint mix for?</p>

        Time (Hrs:mins):<br>
        <input type="text" name="time_mix" value="1:20"><br>

        <p>How long does it take to paint one room?</p>
        Time (Hrs:mins):<br>
        <input type="text" name="time_paint" value="0:30"><br><br>

        Do you have a self cleaning brush?<input type="checkbox" name="self_clean">
        <p>How many mixers do you have?</p>
        <input type="text" name="mixers" value="1"><br><br>

        <input type="submit" value="submit">
    </form>
    <div id="chart_div"></div>
</body>

</html>